@media only screen and (max-width: 1199.98px) {
    .feature-heading h2 {
        margin-top: 50px;
    }
    .price-user-icon img {
        margin-left: -44px;
    }
    .newsletter-area {
        padding: 0px 80px;
    }
  }

  @media only screen and (max-width: 991.98px) {
    div#navbarSupportedContent {
        background: #ffffff;
        position: absolute;
        width: 100%;
        top: 65px;
        left: 0px;
    }
    .navbar-toggler-icon {

      	border-radius: 2px;
  	}
    .nav-menu {
      	align-items: left;
      	display: inline;
    }
    .nav-menu-right li a {
		margin-left: 12px;
    }
    .banner-content h1 {
        font-size: 60px;
    }

    .relationship-colum {
        padding-right: 0px;
    }

    .relationship-content h2 {
        font-size: 36px;
    }

    .feature-list {
        padding: 20px 10px;
    }

    .feature-list h3 {
        font-size: 20px;
    }

    .feature-list p {
    margin-top: 18px;
    }

    .match-loyal-colum {
        padding-right: 0px;
    }

    .match-loyal-content h2 {
        font-size: 36px;
    }

    .price-user-icon img {
        margin-left: 0px;
    }

    .price-user-title {
        margin-left:0px;
        margin-top: -10px;
    }

    .price-user-title h5 {
        margin-left: 0px;
        margin-top: 0px;
    }

    .price-user-title h6 {
    
        text-align: center;
        margin-left:0px;
        margin-bottom: 30px;
    }

    .price-list ul li span {
        font-size: 14px;
    }

    .client-content {
        padding: 80px 0px 100px 0px;
       
    }

    .newsletter-area {
        padding: 0px 10px;
    }
    .newsletter h4 {
        font-size: 28px;
        margin-top: 50px;
    }
    .newsletter-img img {
        margin-top: 20px;
        width: 100%;
    }

}

@media only screen and (max-width: 767.98px) {
    .feature-list {
        margin-top: 30px;
    }
    section.relationship {
        margin-top: 550px;
    }

    .relationship-row{
        display: flex;
        flex-direction: column-reverse;
    }
    .relationship-colum {
        padding-right: 0px;
        margin-top: 50px;
    }

    .match-loyal-img img {
        margin-top: 50px;
    }

    .price-list {
        margin-top: 30px;
    }

    .client-section {
        margin-top: 730px;
    }

    .client-item {
        padding: 80px 0px 80px 0px;
    }
}

@media only screen and (max-width: 575.98px) {
    header {
        height: 700px;
        background-position: bottom;
        position: relative;
        background-image: url('../img/bg/bg_mobile.png');
    }

    header {
        height: 700px;
        background-position: right;
        position: relative;
    }
    .banner-form {
        background: #ffffff;
        box-shadow: 35px 100px 152px rgb(26 58 119 / 10%);
        border-radius: 24px;
        padding: 40px 30px;
        margin-top: 40px;
    }
    .banner-content p {
        color: #ffffff;
        line-height: 26px;
    }

    .banner-content {
        margin-top: 100px;
        text-align: center;
    }

    .banner-content h1 {
        font-size: 32px;
        line-height: 42px;
        margin-top: 100px;
        color: #ffffff;
    }

    .feature-heading h2 {
        margin-top: 114px;
        font-size: 28px;
        line-height: 38px;
    }
    .feature-list h3 {
        font-size: 18px;
        line-height: 30px;
    }
    .relationship-content {
        padding-left: 0px;
        text-align: center;
    }
    .relationship-content h2 {
        font-size: 28px;
        line-height: 38px;
    }

    section.relationship {
        margin-top: 660px;
    }
    .match-loyal-content h2 {
        font-size: 28px;
    line-height: 38px;
    }
    .relationship-content h2 {
        font-size: 28px;
        line-height: 38px;
    }
    .match-loyal-content {
        padding-left: 0px;
        text-align: center;
    }
    .price {
        margin-top: 14px;
    }
    .price-heading h2 {
        font-size: 28px;
        line-height: 38px;
        margin-top: 84px;
    }

    .client-content {
        padding: 42px 0px 100px 0px;
    }

    .client-section {
        margin-top: 742px;
    }
    .newsletter a.view-profile {
        margin-left: 10px;
    }

    .ready-contact {
      
        padding: 17px 20px;
       
    }

    .ready-start {
        padding: 17px 20px;
    }

    .ready h3 {
        font-size: 28px;
        line-height: 38px;
    }

    .newsletter-area {
        margin-top: -250px;
    }
    
    .footer-part1 {
        text-align: center;

    }

    .footer-part h3 {
    
        margin-top: 30px;
    }

    .footer-part {
        text-align: center;
    }

    .footer-subscribe {
    
        margin: 0px auto;
    }
    
}